<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>{{title }} is working!</h1>
    {% for post in qs%}
    <h3>{{post.id}}</h3>
    <h3><a href="{% url 'postdetail' post.id %}">{{post.title}}</a></h3>
    <h3>{{post.content}}</h3>
    <h3>{{post.updated}}</h3>
    <h3>{{post.timestamp}}</h3>
    <hr>
    {% endfor %}
</body>

</html>